# coments start with '#'
# DO NOT put comments beside vaules, comments are on their own line
# booleans can be: True/False true/false yes/no 1/0
# this config is subject to change as per dev and as per upstream

[ircserver]
ssl = True
server = irc.evilzone.org
dport = 6667
sslport = 6697
admin = techb

[channels]
dchannel = testing
#evilzone
#testting

[nameinfo]
dnick = TechBot
realname = lolnotmyrealname
nickserv_pass = apassword

[logging]
log_all = False
log_filter = True
# filter phrases, ending with a ',' will lead to an empty list item at [-1]
filters = techb, nulldigit
log_file = log.txt
